<br>
<br>
<br>
<br>
<br>
<br>

<h1> SiGN Ups Dizzle </h1>

<h2>
<%= form_for @user do |f| %>
	Name <%= f.text_field :name %> <br>
	<br>
	Email <%= f.text_field :email %> <br>
	<br>
	Password <%= f.password_field :password %> <br>
	<br>
	Retype pw <%= f.password_field :password_confirmation %> <br>
	<br>
	<%= f.submit %>
<% end %>	
</h2>

     
<!-- %= render 'layouts/maps' %
 -->